.content= project.content
.p 분야: #{project.endDate}
.p 응시대상: #{project.endDate}
.p 마감시간: #{project.endDate}
.p 공모전 담당자: #{project.endDate}
.p 연락처: #{project.endDate}
.p 마감시간 #{project.endDate}
.tags.badges
    span.badge.badge-phill.badge-secondary
.row
  .col-sm
    .numbers.
      #[span.number.num-votes= project.numLikes] 개의 좋아요,
      #[span.number.num-answers= project.numAnswers] 개의 댓글 ,
      #[span.number.num-views= project.numReads] 명이 읽음 
  .col-sm
    .author
      | asked on #{moment(project.createdAt).format('YYYY-MM-DD')} 
      if project.author  
        | #{project.author.name}